body {
}


#cv {
	border: 1px solid #ccc;
	display: block;
	margin: 0 auto;
}

.btn {
	color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.w80 {
	width: 80px;
}

footer {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 15px;
}

#core {
	height: 50px;
	line-height: 50px;
	margin-bottom: 0px;
	text-align: center;
}

.mask {
	border: 1px solid '#000';
	background: rgba(12,23,23,.6);
	text-align: center;
    line-height: 500px;
    font-size: 30px;
    color: white;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}